<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Config page</title>
  <link rel="stylesheet" href="/css/adminstyle.css">
</head>

<body>
  <div class="container">
    <div class="admin_input_table">
      <div class="name_table">
        <h1>Admin input information</h1>
      </div>
      <form id="admin_form" name="admin_form" action="/admin/submit" method="POST">
        <!--  Tên công ty  -->
        <div class="form-control">
          <label for="name_company">Company name</label>
          <input type="text" name="name_company" id="name_company" value="<%= config.name_company %>">
        </div>

        <!--  Tên màn hình hiển thị  -->
        <div class="form-control">
          <label for="name_display">Table display name</label>
          <input type="text" name="name_display" id="name_display" value="">
        </div>

        <!--  Số lượng thông số  -->
        <div class="form-control">
          <label for="nums_parameter">Number of Parameter</label>
          <input type="text" name="nums_parameter" id="nums_parameter" value="">
        </div>

        <!--  Số lượng bảng  -->
        <div class="form-control">
          <label for="nums_table">Number of tables</label>
          <input type="text" name="nums_table" id="nums_table" value="">
        </div>

        <!--  Tên bảng 1  -->
        <div class="form-control">
          <label for="name_table1">Table 1 name</label>
          <input type="text" name="name_table1" id="name_table1" value="">
        </div>

        <!--  Tên bảng 2  -->
        <div class="form-control">
          <label for="name_table2">Table 2 name</label>
          <input type="text" name="name_table2" id="name_table2" value="">
        </div>

        <!--  Vị trí đọc file  -->
        <div class="form-control">
          <label for="dir_readFile">Data directory</label>
          <input type="text" name="dir_readFile" id="dir_readFile" value="">
        </div>

        <!--  Tên folder trạm 1  -->
        <div class="form-control">
          <label for="name_folder_1">Folder name Station 1</label>
          <input type="text" name="name_folder_1" id="name_folder_1" value="">
        </div>
        <!--  Tên folder trạm 2  -->
        <div class="form-control">
          <label for="name_folder_2">Folder name Station 2</label>
          <input type="text" name="name_folder_2" id="name_folder_2" value="">
        </div>
        <!--  Tên folder trạm 3  -->
        <div class="form-control">
          <label for="name_folder_3">Folder name Station 3</label>
          <input type="text" name="name_folder_3" id="name_folder_3" value="">
        </div>
        <!--  Tên folder trạm 4  -->
        <div class="form-control">
          <label for="name_folder_4">Folder name Station 5</label>
          <input type="text" name="name_folder_4" id="name_folder_4" value="">
        </div>
        <!--  Tên folder trạm 5  -->
        <div class="form-control">
          <label for="name_folder_5">Folder name Station 5</label>
          <input type="text" name="name_folder_5" id="name_folder_5" value="">
        </div>
        <!--  Tên Trạm 1  -->
        <div class="form-control">
          <label for="name_station_1">Name staion 1</label>
          <input type="text" name="name_station_1" id="name_station_1" value="">
        </div>
        <!--  Tên Trạm 2  -->
        <div class="form-control">
          <label for="name_station_2">Name staion 2</label>
          <input type="text" name="name_station_2" id="name_station_2" value="">
        </div>
        <!--  Tên Trạm 3  -->
        <div class="form-control">
          <label for="name_station_3">Name staion 3</label>
          <input type="text" name="name_station_3" id="name_station_3" value="">
        </div>
        <!--  Tên Trạm 4  -->
        <div class="form-control">
          <label for="name_station_4">Name staion 4</label>
          <input type="text" name="name_station_4" id="name_station_4" value="">
        </div>
        <!--  Tên Trạm 5  -->
        <div class="form-control">
          <label for="name_station_5">Name staion 5</label>
          <input type="text" name="name_station_5" id="name_station_5" value="">
        </div>
        <!-- Submit form -->

      </form>
      <button class="btn" form="admin_form" type="submit" value="Submit">Submit</button>
    </div>
  </div>
</body>

</html>