<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DataTable</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <img id="logo_image" src="/logo/boat.jpg" alt="" srcset="">
      </div>
      <div class="display_infor">
        <h4><%= infors.name_company %></h4>
        <br>
        <h2>
          <%= infors.name_display %>
        </h2>
      </div>
      <div class="time_date">
        <h3 id="time_display"></h3>
        <h3 id="date_display"></h3>
      </div>
    </div>