* {
    box-sizing: border-box;
}

body{
    background-color: bisque ;

}
.center {
    margin: auto;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.name_table {
    display: block;
    text-align: center;
}
h3 {
    text-align: center;
}

.form-control{
    /* display: inline-block; */
}

.detail-info{
    border-top: solid;
}
#input_table{
    display: block;
    width: 90%;
    margin: auto;
/*     background-color:bisque */
}
.input-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.input-container label{
    flex: 1;
    margin-right: 5px;
}
.input-container input{
    flex: 2;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }



.btn {
    display: block;
    grid-area: btn;
    background-color: #00695c;
    color: #ffffff;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}

.btn:hover {
    grid-area: btn;
    background-color: #222b2a;
    color: #ffffff;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}